*{
  box-sizing: border-box;
}
body{
  background-color: #FBFBFD;
  color: #F5F5F7;
  margin: 0;
  font-family: "Roboto";
}
.container{
  max-width: 1280px;
  margin: auto;
  width: 100%;
  text-align: center;
}
header{
  background: rgba(0, 0, 0, 0.8);
  position: sticky;
  top: 0;
}
header .container ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}
ul{
  list-style: none;
  margin: 0;
}
a{
  text-decoration: none;
  color: #FFFFFF;
}
header ul li a img{
  width: 18px;
}
h1{
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0.28px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
}
h2{
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 0.112px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
}
.first{
  color: #1D1D1F;
  padding: 51px 0 12px 0;
}
.first .container{
  text-align: center;
}
.link{
  display: flex;
  justify-content: center;
  gap: 60px;
}
.link a{
  font-size: 21px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.231px;
  color: #0066CC;
  margin-top: 0;
  margin-bottom: 10px;
}
.second{
  background-color: #000000;
  padding-top: 51px;
}
.second h1{
  color: #F5F5F7;
}
.third{
  padding-top: 64px;
  padding-bottom: 12px;
}
.third img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.top{
  display: flex;
  justify-content: center;
  gap: 0 5px;
}
.top img{
  width: 50px;
  height: 56px;
  display: inline-block;
  margin: 0;
  filter: brightness(0);
}
.third h1{
  color: #1D1D1F;
}
.third p{
  color: darkorange;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 5px;
}
.third h2{
  color: #1D1D1F;
}
.fourth{
  display: flex;
  justify-content: space-evenly;
}
.leftTop{
  display: flex;
  justify-content: center;
}
.leftTop img{
  height: 56px;
  width: 50px;
}
.left p{
  letter-spacing: 5px;
  color: red;
}
.fourth .left{
  height: 800px;
  width: 49%;
  background: url(./images/iwatch-black.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 50px;
}
.fourth .right{
  height: 800px;
  width: 49%;
  background: url(./images/podspro-black.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 50px;
}